@import '../../style/default.less';

.header {
  width: 100%;
  background-color: @color-white;
  .header-user-info {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;
    .badge-wrapper {
      vertical-align: -2px;
      .notify-badge {
        cursor: pointer;
      }
    }
    .avatar {
      overflow: hidden;
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-left: 36px;
      font-size: 0;
      vertical-align: -12px;
      border-radius: 50%;
      cursor: pointer;
      img {
        vertical-align: 0;
      }
    }
  }
  .breadcrumb {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-top: 1px solid @color-primary;
    .breadcrumb-title {
      font-size: 18px;
      font-weight: 600;
      padding-left: 3%;
      &:after {
        position: absolute;
        content: '';
        left: 122px;
        bottom: -8px;
        border-top: 9px solid @color-white;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }
    }
    .weather {
      text-align: right;
      span ~ span {
        margin-left: 20px;
      }
    }
  }
}
.ant-breadcrumb {
  line-height: 40px !important;
}

.second-page {
  .header {
    background: @color-primary;
    color: @color-white;
    a.logout {
      color: @color-white;
    }
  }
}
.logout-item {
  width: 100px;
  line-height: 20px;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: #f5f5f5;
  }
  .logout-icon {
    vertical-align: -3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/home/logout.svg") no-repeat center/cover;
    margin-right: 4px;
  }
  .logout {
    color: #8a8a8a;
  }
}
.ant-popover-inner-content {
  padding: 6px !important;
}
