.header {
  .header-user-info {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: right;
    a.logout {
      margin-left: 40px;
    }
  }
  .breadcrumb {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-top: 1px solid #f98f3d;
    .breadcrumb-title {
      text-align: center;
    }
    .weather {
      text-align: right;
      span ~ span {
        margin-left: 20px;
      }
    }
  }
}