@import './default.less';

.container {
  display: flex;
    .nav-left {
      width: 15%;
      min-width: 180px;
      height: calc(100vh);
      background-color: @color-deep-blue;
    }
    .main {
      flex: 1;
      background-color: @color-gray;
    }
    .content {
      position: relative;
      padding: 20px;
      height: calc(80.7vh);
      overflow: auto;
    }
}