@import './default.less';

ul li {
  list-style: none;
}
.container {
  display: flex;
    .nav-left {
      min-width: 240px;
      height: calc(100vh);
      background-color: @color-deep-blue;
      border-right: 1px solid @color-light-gray;
      .logo-wrapper {
        position: relative;
        padding: 14px 0 14px 26px;
        box-shadow: 0 1px rgba(0, 0, 0, .1);
        img:first-child {
          margin-right: 16px;
        }
        .nav-switch {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translate3d(0, -11px, 0);
        }
      }
    }
    .main {
      flex: 1;
      height: calc(100vh);
      background-color: @color-gray;
      overflow: auto;
    }
    .content {
      position: relative;
      padding: 20px;
    }
}
.loading-wrapper {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -175px;
  width: 350px;
  height: 100px;
  line-height: 100px;
  padding: 0 40px;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 8px;
  text-align: center;
  color: @color-white;
  z-index: 999;
  font-size: 16px;
  .loading-message {
    margin-left: 20px;
  }
}
.content-wrapper {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-top: none;
  margin-top: -1px;
}
.second-content {
  width: 90%;
  margin: 0 auto;
}
.second-card {
  margin-top: 20px !important;
}

.card-wrapper {
  margin-bottom: 10px;
  border-radius: 10px;
  Button ~ Button {
    margin-left: 20px;
  }
}
.card-block-wrapper {
  margin-bottom: 10px;
  border-radius: 10px;
  Button ~ Button {
    margin-top: 10px;
  }
}